# Banco de dados MySQL (servidor AWS)
DB_HOST=98.80.70.12
DB_PORT=3306
DB_USER=douglas
DB_PASS=6352441@Ab
DB_NAME=vipe_transportes

# JWT
JWT_SECRET=vipe_secret_2024

# CORS - domínio do frontend
FRONTEND_URL=https://www.vipesistemas.com.br

# Só para rodar localmente
# LOCAL_SERVER=true
